<!-- <a href="#/phones/add">Add new phone</a> -->

<div class="row">
  <div id="sidebar" class="span4">
    <div>
      <p ng-show="current_user().isAuthenticated()">
        <a class="btn btn-primary" href="#/phones/add">Добавить телефон</a>
      </p>

       <form class="form-search">
          <div class="input-append">
              <input type="text" ng-model="query" ng-change="reset()" class="input-medium search-query" placeholder="Search">
              <button ng-click="reset()" type="submit" class="btn"><i class="icon-search"></i></button>
          </div>
          <button ng-click="query=''; reset()" ng-disabled="!query" type="submit" class="btn">Reset</button>
      </form>

      <div class="comparation" ng-show="comparingItemsCount() > 0">
        <a class="btn btn-primary" ng-show="comparingItemsCount() > 1" href="#/phones/compare">Сравнить: {{comparingItemsCount()}}</a>
        <button class="btn btn-warning" ng-show="comparingItemsCount() > 0" ng-click="clearComparingItems()">Очистить</button>
        <ul class="unstyled">
          <li ng-animate="'animate'" ng-repeat="(id, phone) in comparingItems()" class="well well-small">
            <img ng-src="/Images/phones/{{phone.ImageUrl}}"></img>
            {{phone.Make}} {{phone.Model}}
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="span8">
    <div>
      <form>
        <table class="phones table table-striped table-condensed table-hover">
          <thead>
            <th></th>
            <th></th>
            <!-- <th sorted="Make">Производитель</th>
            <th sorted="Model">Модель</th> -->
            <th></th>
            <th ng-show="current_user().isAuthenticated()"></th>
          </thead>
          <tbody infinite-scroll="show_more()" infinite-scroll-distance="1" infinite-scroll-disabled="!canLoadMore()" >
            <tr ng-repeat="phone in phones">
              <td>
                <input type="checkbox" ng-click="compareCheckboxChanged(phone)" ng-checked="isSelectedForComparing(phone.Id)">
              </td>
              <td>
                <a href="#/phones/{{phone.Id}}">
                  <img ng-src="/Images/phones/{{phone.ImageUrl}}"></img>
                </a>
              </td>
              <td>
                <a href="#/phones/{{phone.Id}}"><strong>{{phone.Make}} {{phone.Model}}</strong></a>
                <div>{{phone.summary()}}</div>
              </td>
              <td ng-show="current_user().isAuthenticated()">
                <a href="#/phones/{{phone.Id}}/edit"><i class="icon-th-list"></i> </a>
                <a ng-controller="DeleteCtrl" ng-click="deletePhone(phone.Id)"><i class="icon-trash"></i></a>
              </td>
            </tr>
          </tbody>
        </table>
      </form>
      <!-- <a ng-show="has_more()" ng-click="show_more()">Show more</a> -->
    <div>
  </div>
</div>

<script>
  $('#sidebar > div').affix({offset: { top: 60 }});
</script>
