<div class="row">
  <div class="span12">
    <table class="table table-bordered">
      <tr class="info">
        <td colspan="2">Основные</td>
      </tr>
      <tr>
        <td>Производитель</td>
        <td>{{phone.Make}}</td>
      </tr>
      <tr>
        <td>Модель</td>
        <td>{{phone.Model}}</td>
      </tr>
      <tr>
        <td>Дата выхода</td>
        <td>{{phone.Date}}</td>
      </tr>
      <tr>
        <td>Тип</td>
        <td>{{phone.Type}}</td>
      </tr>
      <tr>
        <td>Операционная система</td>
        <td>{{phone.OS}}</td>
      </tr>
      <tr>
        <td>Процессор</td>
        <td>{{phone.Processor}}</td>
      </tr>
      <tr>
        <td>Тактовая частота</td>
        <td>{{phone.Clock}}</td>
      </tr>
      <tr>
        <td>Емкость батареи</td>
        <td>{{phone.BatteryCapacity}}</td>
      </tr>
      <tr class="info">
        <td colspan="2">Конструкция</td>
      </tr>
      <tr>
        <td>Длина</td>
        <td>{{phone.Length}}</td>
      </tr>
      <tr>
        <td>Ширина</td>
        <td>{{phone.Width}}</td>
      </tr>
      <tr>
        <td>Толщина</td>
        <td>{{phone.Thickness}}</td>
      </tr>
      <tr>
        <td>Вес</td>
        <td>{{phone.Weight}}</td>
      </tr>
      <tr class="info">
        <td colspan="2">Экран</td>
      </tr>
      <tr>
        <td>Размер</td>
        <td>{{phone.ScreenSize}}</td>
      </tr>
      <tr class="info">
        <td colspan="2">Камера</td>
      </tr>
      <tr>
        <td>Разрешение</td>
        <td>{{phone.Resolution}}</td>
      </tr>
      <tr>
        <td>Количество пикселей матрицы</td>
        <td>{{phone.CameraPixelCount}}</td>
      </tr>
    </table>
  </div>
</div>
